<div id="<%= dom_id product %>">
  <p>
    <strong>Order id:</strong>
    <%= product.Order_ID %>
  </p>

  <p>
    <strong>Order priority:</strong>
    <%= product.Order_Priority %>
  </p>

  <p>
    <strong>Order quantity:</strong>
    <%= product.Order_Quantity %>
  </p>

  <p>
    <strong>Sales:</strong>
    <%= product.Sales %>
  </p>

  <p>
    <strong>Ship mode:</strong>
    <%= product.Ship_Mode %>
  </p>

  <p>
    <strong>Profit:</strong>
    <%= product.Profit %>
  </p>

  <p>
    <strong>Customer name:</strong>
    <%= product.Customer_Name %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= product.Region %>
  </p>

  <p>
    <strong>Customer segment:</strong>
    <%= product.Customer_Segment %>
  </p>

  <p>
    <strong>Product category:</strong>
    <%= product.Product_Category %>
  </p>

</div>
